/*
 * Copyright 2022 Brian Bradley
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    tilt0: tilt_0 {
        label = "TILT_0";
        compatible = "gpio-tilt";
        tilt-gpios = <&gpiob 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};
